:root {
  font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
}

button {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  letter-spacing: 0.075rem; /* Fix later */
}
